<!-- Slider main container -->
<div class="swiper mySwiper">
  <div class="catalog-title mb-4 flex justify-between"><h3 class="">Чехлы</h3><span>1 из 30</span></div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper max-w-[300px]">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/glass.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Стеклянные</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/silicon.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Силиконовые</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/skin.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Кожаные</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/glass.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Кожаные</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/silicon.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Кожаные</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/skin.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Кожаные</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper mySlider mt-8">
  <div class="catalog-title breadcrumbs flex justify-between">
    <ul>
      <li><a>Чехлы</a></li>
      <li><a>Стеклянные</a></li>
    </ul>
    <span>1 из 30</span>
  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper max-w-[300px] mx-auto mt-8">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/glass.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Глянцевый A01</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/silicon.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Матовый BC-40</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/skin.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Глянцевый CH-9</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/glass.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Глянцевый K-03</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/silicon.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Матовый D-20</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture picClass="" srcPath="/assets/img/mid/cases-comp/skin.png"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="/qpick/pages/product.html">Матовый C-1</a>
        </div>
      </div>
    </div>
  </div>
</div>
