<div class="swiper gallery" thumbsSlider="">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <figure class="">
        {{>picture setPath="/assets/img/mid/product/hold1.webp" srcPath="/assets/img/mid/product/hold1.png"
        alt="Автодержатель горизонтально"}}
      </figure>
    </div>
    <div class="swiper-slide">
      <figure class="">
        {{>picture setPath="/assets/img/mid/product/hold2.webp" srcPath="/assets/img/mid/product/hold2.png"
        alt="Автодержатель вертикально"}}
      </figure>
    </div>
    <div class="swiper-slide">
        <figure class="">
          {{>picture setPath="/assets/img/mid/product/hold3.webp" srcPath="/assets/img/mid/product/hold3.png"
          alt="Автодержатель вертикально"}}
        </figure>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
