<div class="swiper gallery-slides">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture setPath="/assets/img/mid/product/hold1.webp" srcPath="/assets/img/mid/product/hold1.png"
          alt="Автодержатель горизонтально"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Стеклянные</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture setPath="/assets/img/mid/product/hold2.webp" srcPath="/assets/img/mid/product/hold2.png"
          alt="Автодержатель вертикально"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Силиконовые</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="q-card">
        <figure class="min-h-[240px] max-h-max">
          {{>picture setPath="/assets/img/mid/product/hold3.webp" srcPath="/assets/img/mid/product/hold3.png"
          alt="Автодержатель вертикально"}}
        </figure>
        <div class="card-body items-center text-primary">
          <a class="card-title" href="#!">Кожаные</a>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
