<div class="advantages">
  <h2 class="block-title">Почему выбирают нас</h2>
  <div class="avatar-cards">
    <div class="avatar-card">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Екатерина Романова, 26 лет</h3>
          <div class="avatar-image">
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/av1.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/av1.png" width="96" height="96" alt="аватар" />
            </picture>
          </div>
        </div>
        <div class="geography">
          <div>
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/geo.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/geo.png" width="16" height="16" alt="значок гео-метки" />
            </picture>
          </div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <label for="score1" aria-label="Оценка 1"></label>
            <input type="radio" id="score1" name="rating-1" class="mask mask-star bg-accent" />
            <label for="score2" aria-label="Оценка 2"></label>
            <input type="radio" id="score2" name="rating-1" class="mask mask-star bg-accent" checked />
            <label for="score3" aria-label="Оценка 3"></label>
            <input type="radio" id="score3" name="rating-1" class="mask mask-star bg-accent" />
            <label for="score4" aria-label="Оценка 4"></label>
            <input type="radio" id="score4" name="rating-1" class="mask mask-star bg-accent" />
            <label for="score5" aria-label="Оценка 5"></label>
            <input type="radio" id="score5" name="rating-1" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
    <div class="avatar-card hidden md:flex">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Хонгорзул Баттулга, 33 года</h3>
          <div class="avatar-image">
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/av2.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/av2.png" width="96" height="96" alt="аватар" />
            </picture>
          </div>
        </div>
        <div class="geography">
          <div>
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/geo.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/geo.png" width="16" height="16" alt="значок гео-метки" />
            </picture>
          </div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" checked />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-2" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
    <div class="avatar-card hidden lg:flex">
      <div class="avatar-card__body">
        <div class="avatar">
          <h3 class="card-title-sm">Бужиг Ганбат, 29 лет</h3>
          <div class="avatar-image">
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/av3.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/av3.png" width="96" height="96" alt="аватар" />
            </picture>
          </div>
        </div>
        <div class="geography">
          <div>
            <picture class="">
              <source type="image/webp" srcset="./assets/img/avatars/avatars-compressed/geo.webp" alt="Пример сайта" />
              <img src="./assets/img/avatars/avatars-compressed/geo.png" width="16" height="16" alt="значок гео-метки" />
            </picture>
          </div>
          <span>г. Улан-Батор</span>
        </div>
        <p class="avatar-text">
          Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис
          сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не
          важно, какая у вас кредитная история и имеются ли текущие просрочки.
        </p>
        <div class="avatar-rating">
          <div class="rating">
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" checked />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
            <input type="radio" name="rating-3" class="mask mask-star bg-accent" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="common-button">Оформить заявку</button
    ><button class="btn btn-outline btn-accent">Все отзывы</button>
  </div>
</div>
