<div class="get">
  <div class="text-block">
    <h2 class="block-title">Получи деньги здесь и сейчас</h2>
    <p class="text-mid">Без проверки кредитной истории. От&nbsp;1 000 ₮ за 15 минут.</p>
    <button class="common-button">Оформить заявку</button>
  </div>
  <div class="img-block">
    <picture class="">
      <source type="image/png" srcset="./assets/img/get/girl-bot-compressed/girl-bot.png" alt="Пример сайта" />
    <img src="./assets/img/get/girl-bot-compressed/girl-bot.png" width="630" height="420" alt="Девушка" />
  </div>
</div>
