<header class="header">
  <picture class="">
    <!-- <source type="image/webp" srcset="./assets/img/hero/hero-girl.png" alt="Пример сайта" /> -->
    <img class="header-img" src="./assets/img/hero/hero-girlh.png" alt="Девушка" width="550" height="700" />
  </picture>
  <!-- <img src="assets/img/hero/hero-girl.png" /> -->
  <div class="navbar-top navbar-sizing">
    <div class="navbar-start">
      {{>logo}}
    </div>
    <div class="navbar-center navbar-center-visibility">
      {{>menu}}
    </div>
    <div class="navbar-end">
      <button class="common-button">Войти</button>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="burger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="burger__icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </label>
        <ul tabindex="0" class="mobile-menu">
          <li class="mobile-menu__item"><a class="mobile-menu__link">Почему мы?</a></li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link"> О сервисе </a>
          </li>
          <li class="mobile-menu__item"><a class="mobile-menu__link">Вопросы-ответы</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__content">
    <div class="header-text left-text">
      <div class="left-text__top">
        <p class="content-top">
          <img class="content-top__img" src="./assets/img/fired_offer/fire1.png" alt="Горячие предложения" />
          Горячие предложения
        </p>
        <h1 class="content-head hero-title">Быстрых займов по всей стране</h1>
        <p class="text-mid">Без проверки кредитной истории. От&nbsp;1 000 ₮ за 15 минут.</p>
      </div>
      <span class="content-bot footnote"
        >*Внимание! Услуга обработки заявки платная и&nbsp;составляет от 98 ₮ до 398 ₮ раз в неделю</span
      >
    </div>
    <!-- <div class="container"></div> -->
    <div class="header-text right-text">
      <div class="credit-sum">
        <p class="form-range-top">Сумма кредита</p>
        {{>range id="money-range" min="0" max="100" val="65" output="65 000 ₮" rangeLabel="диапазон суммы кредита"}}
      </div>
      <div class="credit-term">
        <p class="form-range-bot">Срок кредита</p>
        {{>range id="term-range" min="1" max="30" val="8" output="8 дней" rangeLabel="диапазон срока возврата кредита"}}
      </div>
      <button class="common-button">Оформить заявку</button>
      <div class="list-wrapper">
        <ul class="form-list">
          <li class="form-list-item">
            <span class="form-list-item__text">Вы берете</span><span class="form-list-item__nums">20 000 ₮</span>
          </li>
          <li class="form-list-item">
            <span class="form-list-item__text">К возврату</span><span class="form-list-item__nums">25 650 ₮</span>
          </li>
          <li class="form-list-item">
            <span class="form-list-item__text">Дата возврата</span
            ><span class="form-list-item__nums">08 января 2022</span>
          </li>
          <li class="form-list-item">
            <span class="form-list-item__text">Ежемесячный платёж</span
            ><span class="form-list-item__nums">5 650 ₮</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
