.get {
 @apply flex flex-col items-center lg:flex-row justify-center max-w-screen-xl mx-auto pt-8;
}
.text-block {
  @apply flex flex-col items-center lg:items-start justify-center gap-8 lg:gap-4 px-4;
}

.text-mid {
  @apply max-w-md;
}

.img-block {
  background-image: url(/assets/img/get/girl-bot-compressed/sun.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
