@import url(./css/footer.css);
@import url(./css/typography.css);
@import url(./css/header.css);
@import url(./css/hero.css);
@import url(./css/product.css);
@import url(./css/shopping-cart.css);
@import url(./css/contacts.css);
@import url(./css/ordering.css);
@import url(./css/ordered.css);
/* @import url(./sass/mixins.sass); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: Montserrat;
  margin: 0;
  height: 100%;
}

#app,
.app {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
  position: relative;
  @apply mt-12 px-4 w-full max-w-screen-xmd mx-auto;
}
.common-button {
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(90deg, rgba(255, 200, 62, 1) 0%, rgba(255, 200, 62, 1) 0%, rgba(255, 115, 71, 1) 100%);
  @apply btn btn-accent;
}
.cards {
  @apply relative container mx-auto flex flex-col flex-wrap justify-center items-center gap-6 md:flex-row;
}
/* .header, .footer, .ways, .offers, .faq, .clients, .advantages, .about {
  @apply container mx-auto;
} */
.text-mid {
  @apply text-xl sm:text-2xl text-center sm:text-left lg:w-3/4 xl:w-full;
}
.btn-favorites {
  @apply z-10 w-6 h-6 px-4 stroke-primary stroke-2 hover:text-primary text-neutral absolute top-4 left-0;
}
.btn-favorites-checked {
  @apply z-10 w-6 h-6 px-4 stroke-primary stroke-2 text-primary absolute top-4 left-0;
}
.page-title {
  @apply text-xl text-primary font-semibold w-full max-w-screen-xmd mx-auto;
}
.card-content {
  @apply bg-neutral rounded-3xl;
}

.card-text {
  @apply p-4 text-primary font-medium;
}